# This is a custom nginx configuration template for Kong specs

pid pids/nginx.pid; # mandatory even for custom config templates

error_log ${{PROXY_ERROR_LOG}} ${{LOG_LEVEL}};

events {
    # injected nginx_events_* directives
> for _, el in ipairs(nginx_events_directives) do
    $(el.name) $(el.value);
> end
}

stream {
  include '*stream_mock';
}
