name: Docker

concurrency:
  group: ${{ github.workflow }} ${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

on:
  push:
    branches:
      - master
    paths-ignore:
      - "*.md"

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - name: pongo in docker
            env: TEST_SCRIPT="assets/ci/pongo_docker.test.sh"

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - uses: Kong/kong-license@master
      with:
        password: ${{ secrets.PULP_PASSWORD }}
        op-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

    - name: Install
      run: |
        sudo apt-get install figlet
        make install
        echo "~/.local/bin/" >> $GITHUB_PATH
        echo ${{ matrix.env }} >> $GITHUB_ENV

    - name: Pongo test suite
      env:
        DOCKER_USERNAME: ${{ secrets.GHA_DOCKERHUB_PULL_USER }}
        DOCKER_PASSWORD: ${{ secrets.GHA_KONG_ORG_DOCKERHUB_PUBLIC_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GHA_KONG_BOT_READ_TOKEN }}

      run: |
       assets/ci/run.sh --suite "Pongo test suite" $TEST_SCRIPT
