name: Tests

on:
  push:
    paths-ignore:
      - "*.md"
  pull_request:
    paths-ignore:
      - "*.md"

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        include:
          - name: pongo shell, LuaCov
            env: TEST_SCRIPT="assets/ci/pongo_shell.test.sh assets/ci/pongo_luacov.test.sh"
          - name: pongo build, pongo expose
            env: TEST_SCRIPT="assets/ci/pongo_build.test.sh assets/ci/pongo_expose.test.sh"
          - name: pongo in docker
            env: TEST_SCRIPT="assets/ci/pongo_docker.test.sh"
          - name: pongo run (CE releases)
            env: TEST_SCRIPT="assets/ci/pongo_run_ce.test.sh"
          - name: pongo run (EE releases)
            env: TEST_SCRIPT="assets/ci/pongo_run_ee.test.sh"

    steps:
    - name: Checkout source code
      uses: actions/checkout@v2

    - name: Install
      run: |
        sudo apt-get install figlet
        make install
        echo ${{ matrix.env }} >> $GITHUB_ENV
    
    - name: Lint
      run: |
       export PATH=~/.local/bin/:$PATH
       make lint

    - name: Pongo test suite
      run: |
       export PATH=~/.local/bin/:$PATH
       assets/ci/run.sh --suite "Pongo test suite" $TEST_SCRIPT
