name: Tests

concurrency:
  group: ${{ github.workflow }} ${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

on:
  pull_request:
    paths-ignore:
      - "*.md"
  push:
    branches:
      - master
    paths-ignore:
      - "*.md"

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - name: pongo shell, LuaCov
            env: TEST_SCRIPT="assets/ci/pongo_shell.test.sh assets/ci/pongo_luacov.test.sh"
          - name: pongo build, pongo expose
            env: TEST_SCRIPT="assets/ci/pongo_build.test.sh assets/ci/pongo_expose.test.sh"
          - name: pongo run (CE releases)
            env: TEST_SCRIPT="assets/ci/pongo_run_ce.test.sh"
          - name: pongo run (EE releases)
            env: TEST_SCRIPT="assets/ci/pongo_run_ee.test.sh"

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - uses: Kong/kong-license@master
      with:
        password: ${{ secrets.PULP_PASSWORD }}
        op-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

    - name: Install
      run: |
        sudo apt-get install figlet
        make install
        echo "~/.local/bin/" >> $GITHUB_PATH
        echo ${{ matrix.env }} >> $GITHUB_ENV

    - name: Pongo test suite
      env:
        DOCKER_USERNAME: ${{ secrets.GHA_DOCKERHUB_PULL_USER }}
        DOCKER_PASSWORD: ${{ secrets.GHA_KONG_ORG_DOCKERHUB_PUBLIC_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GHA_KONG_BOT_READ_TOKEN }}
        KONG_VERSION: "3.10.0.2" # will use LTS 3.11.0.0 or dev-ee

      run: |
       assets/ci/run.sh --suite "Pongo test suite" $TEST_SCRIPT
